#main{
    max-width: 100%;
    max-width: 100%;
    margin: 30px auto;
    padding: 15px;
    background-color: #DDDDDD;
    border-radius: 5px;
}

#title {
    text-align: center;
    font-family: 'Special Elite', cursive;
}

#main > p {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    font-weight: bold;
    color:rgb(125, 134, 134);
}

#img-div{
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    padding-bottom: 0px;
}

#image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#img-caption {
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    padding-bottom: 10px;
}

#tribute-info {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Poppins';
    font-size: 12px;
}

#tribute-info > h3 {
    text-align: center;
}

#tribute-info > ul li {
    margin: 10px;
    line-height: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
} 

#tribute-link {
    color: rgb(89, 0, 255);
    font-weight: bold;
}

#link{
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 12px;
}

#footer{
    font-size: 10px;
    text-align: center;
}

.media{
    max-width: 600px;
    border: 2px dotted #fd0a0a;
    text-align: center;
    margin: 0 auto;
}

.media p {
    margin: 10px auto;
}
